html {
	background-color: #f4f4f4;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}


.header {
  padding: 80px;
  text-align: center;
  background: #242a24;
  color: white;
}

.header h1 {
  font-size: 80px;
  font-family: 'Alata', sans-serif;
  margin: 0 auto;
}

header a {
	color: white;
	text-decoration: none;
}

header p {
  font-family: 'New Tegomin', serif;
  margin: 0 auto;
}

footer {
	background-color: #242a24;
  padding: 50px;
  color: white;
  font-family: 'New Tegomin', serif;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #526e40;
  overflow: hidden;
  position: sticky;
  top: 0;

  }

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  font-family: 'Alata', sans-serif;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #242a24;
  color: white;
}

.article {
	background-color: #b9ceac;
	max-width: 1200px;
	margin: 0 auto;
}

.articletitle {
  font-family: 'Alata', sans-serif;
  margin-bottom: 0;
}

main h5 {
  font-family: 'New Tegomin', serif;
  margin: 0 auto 10px auto;
}

nav {
	text-align: center;

}

#back-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding:0; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#back-to-top:hover {
  background-color:; /* Add a dark-grey background on hover */
}